<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="display-4">Id people</h1>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group">
          <input
            name="idPeople"
            [(ngModel)]="idPeople"
            class="form-control"
            placeholder="idPeople"
            required
          />
          <div *ngIf="!idPeople" class="validation-error">
            This field is required.
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-lg btn-block btn-info"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <mat-tab-group>
        <mat-tab label="{{ carsPeople.name }}">
          <table class="table">
            <p>Nome: {{ carsPeople.name }}</p>
            <p>Idade: {{ carsPeople.age }}</p>
            <p>Cidade: {{ carsPeople.city }}</p>
            <p>Rua: {{ carsPeople.neighborhood }}</p>
            <p>Nm casa: {{ carsPeople.nmHouse }}</p>
          </table>
        </mat-tab>
        <mat-tab *ngFor="let car of carsPeople.car" label="{{ car.carPlaque }}">
          <p>Placa: {{ car.carPlaque }}</p>
          <p>Marca: {{ car.brand }}</p>
          <p>Modelo: {{ car.model }}</p>
          <p>Ano Marca: {{ car.yearBrand }}</p>
          <p>Ano Modelo: {{ car.yearModel }}</p>
          <p class="danger"> {{ car.carCaster }}</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
